@mixin text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.container {
  color: unset;
  text-decoration: unset;
  text-transform: capitalize;
  overflow: hidden;
  height: 10rem;
  transition: all 0.3s;
  background-color: white;
  border: 2px solid var(--light);
  &:hover {
    border-color: var(--dimmed);
  }
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3rem;
    padding: 0 1rem;
    strong {
      @include text;
      max-width: 12rem;
    }
    span {
      strong {
        margin: 0 0.5rem;
      }
      svg {
        color: gold;
      }
    }
  }
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 2rem;
    padding: 0 1rem;
    p {
      @include text;
      max-width: 16rem;
      margin: 0;
      font-size: 85%;
      color: var(--dimmed);
    }
    
  }
  .footer {
    display: flex;
    align-items: center;
    height: 5rem;
    padding: 0 1rem;
    color: unset;
    text-decoration: unset;
    text-transform: capitalize;
    background-color: whitesmoke;
    transition: all 0.3s;
    border-top: 2px solid var(--light);
    img {
      height: 3rem;
      width: 3rem;
    }
    strong {
      @include text;
      max-width: 14rem;
      margin: 0 1rem;
      color: var(--dimmed);
      transition: all 0.3s;
    }
    &:hover {
      border-color: var(--dimmed);
      background-color: rgb(235, 235, 235);
      strong {
        color: var(--blacked);
      }
    }
  }
}