@mixin text {
  max-width: 12rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.container {
  display: flex;
  color: unset;
  overflow: hidden;
  text-decoration: unset;
  text-transform: capitalize;
  height: 6rem;
  transition: all 0.3s;
  background-color: var(--primary);
  border: 2px solid var(--primary-darkest);
  &:hover {
    border-color: var(--secondary-light);
  }
  img {
    width: 6rem;
    height: 6rem;
  }
  .content {
    display: flex;
    height: 3rem;
    padding: 1rem;
    strong {
      @include text;
    }
  }
}