.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 60vh;
  svg {
    color: var(--secondary-first);
    font-size: 1000%;
  }
  h1 {
    font-size: 200%;
    color: var(--secondary-first);
    margin: 2rem 0 0 0;
  }
  p {
    color: var(--secondary-second);
    font-size: 125%;
    max-width: 70%;
    margin: 0;
    text-align: center;
  }
}