.ground {
  cursor: pointer;
  position: relative;
  display: flex;
  border: 0;
  outline: 0;
  padding: 0;
  height: 2rem;
  width: 4rem;
  margin: 0.5rem;
  border-radius: 1rem;
  box-sizing: content-box;
  background: var(--secondary-lightest);
  transition: background-color 0.2s;
  .checkbox {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 3.8rem;
    height: 1.8rem;
    z-index: 100;
    &:hover {
      cursor: pointer;
    }
  }
  .handler {
    position: absolute;
    width: 2.25rem !important;
    height: 2.25rem !important;
    top: -0.1rem;
    left: -0.25rem;
    border-radius: 100%;
    transition: all 0.3s;
    background: var(--primary-darkest);
  }
  .active {
    left: calc(4rem - 2rem);
  }
  .disabled {
    cursor: not-allowed;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 10;
    background-color: var(--secondary-lightest);
  }
  .icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 8px;
    font-size: 1.25rem;
    color: var(--primary-darkest);
  }
}
.checked {
  background-color: var(--secondary-lightest);
  .icon {
    right: auto;
    left: 8px;
  }
}
.ground:active .handler {
  width: 24px;
}