.container {
  display: flex;
  align-items: center;
  padding: 1rem 0;
  .input {
    appearance: none;
    font-size: 100%;
    outline: none;
    height: 3rem;
    min-width: 10rem;
    width: 100%;
    max-width: 25rem;
    padding: 0 1rem;
    margin-right: 1rem;
    border-radius: 0;
    background: transparent;
    color: var(--secondary-light);
    box-sizing: border-box;
    transition: all 0.3s;
    border: 2px solid var(--primary-darkest);
    &:hover, &:focus {
      color: var(--secondary);
      background: var(--primary);
      border-color: var(--secondary-light);
    }
  }
}