.container {
  display: flex;
  .input {
    font-size: 100%;
    outline: unset;
    width: 30rem;
    height: 3rem;
    padding: 0 1rem;
    color: dimgray;
    box-sizing: border-box;
    border-radius: 0.125rem;
    transition: all 0.3s;
    border: 2px solid rgb(240, 240, 240);
    &:hover {
      color: black;
      border-color: lightgray;
    }
  }
}