.container {
  display: flex;
  align-items: center;
  padding: 1rem 0;
  .input {
    font-size: 100%;
    outline: unset;
    height: 3rem;
    min-width: 10rem;
    width: 100%;
    max-width: 25rem;
    padding: 0 1rem;
    color: var(--secondary-light);
    box-sizing: border-box;
    transition: all 0.3s;
    background: transparent;
    border-radius: 0;
    border: 2px solid var(--primary-darkest);
    ::-moz-focus-inner {
      border: 0;
      padding: 0;
      border-radius: 0;
    }
    &:hover, &:focus {
      color: var(--secondary);
      background: var(--primary);
      border-color: var(--secondary-light);
    }
  }
}