.dark {
  --primary: black;
  --primary-first: rgb(30, 30, 30);
  --primary-second: rgb(50, 50, 50);
  --secondary: white;
  --secondary-first: whitesmoke;
  --secondary-second: rgb(225, 225, 225);
}
.light {
  --primary: white;
  --primary-first: whitesmoke;
  --primary-second: rgb(225, 225, 225);
  --secondary: black;
  --secondary-first: rgb(100, 100, 100);
  --secondary-second: rgb(150, 150, 150);
}
.container {
  min-height: 100vh;
  color: var(--secondary);
  background-color: var(--primary-first);
}