.dark {
  --primary: black;
  --primary-dark: rgb(35, 35, 35);
  --primary-darkest: rgb(75, 75, 75);
  --secondary: white;
  --secondary-light: whitesmoke;
  --secondary-lightest: rgb(225, 225, 225);
}
.light {
  --primary: white;
  --primary-dark: whitesmoke;
  --primary-darkest: rgb(225, 225, 225);
  --secondary: black;
  --secondary-light: rgb(35, 35, 35);
  --secondary-lightest: rgb(75, 75, 75);
}
.container {
  min-height: 100vh;
  color: var(--secondary);
  background-color: var(--primary-dark);
}