.container {
  color: unset;
  transition: all 0.3s;
  text-decoration: unset;
  overflow: hidden;
  border-radius: 0.25rem;
  height: max-content;
  border: 2px solid rgb(235, 235, 235);
  &:hover {
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1);
  }
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    font-size: 90%;
    p, h3, h4, h5 {
      margin: 0;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      text-transform: capitalize;
    }
    h5 {
      margin: 0.5rem 0;
    }
    .title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      svg {
        margin: 0 0 0 0.5rem;
        color: red;
      }
      .active {
        color: limegreen;
      }
      h3 {
        max-width: 15rem;
      }
    }
    .date {
      color: grey;
      font-size: 90%;
    }
    a {
      color: dimgray;
      text-decoration: unset;   
      transition: all 0.3s;
      &:hover {
        color: black;
      } 
    }
  }
  .owner {
    display: flex;
    padding: 0.5rem 1rem;
    background-color: rgb(248, 248, 248);
    border-top: 1px solid rgb(235, 235, 235);
    img {
      width: auto;
      min-width: 3rem;
      height: 3rem;
      border-radius: 0.25rem;
    }
  }
}