@mixin text {
  max-width: 14rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.container {
  color: unset;
  text-decoration: unset;
  text-transform: capitalize;
  overflow: hidden;
  height: 11rem;
  transition: all 0.3s;
  border: 2px solid rgb(240, 240, 240);
  &:hover {
    border-color: lightgray;
  }
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3rem;
    padding: 0 1rem;
    strong {
      @include text;
    }
    span {
      strong {
        margin: 0 0.5rem;
      }
      svg {
        color: gold;
      }
    }
  }
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 4rem;
    padding: 0 1rem;
    p {
      @include text;
      margin: 0;
      font-size: 85%;
      color: dimgray;
      max-width: 20rem;
    }
    
  }
  .footer {
    display: flex;
    align-items: center;
    height: 4rem;
    padding: 0 1rem;
    color: unset;
    text-decoration: unset;
    text-transform: capitalize;
    background-color: whitesmoke;
    transition: all 0.3s;
    border-top: 2px solid rgb(240, 240, 240);
    img {
      width: 3rem;
      height: 3rem;
      border-radius: 100%;
    }
    strong {
      @include text;
      margin: 0 1rem;
      color: dimgray;
      transition: all 0.3s;
    }
    &:hover {
      border-color: lightgray;
      background-color: rgb(240, 240, 240);
      strong {
        color: black;
      }
    }
  }
}